h1{
    /*estilização geral*/
    font-size: 25px;
    margin-top: 180px;
    text-align: center;
    color: #3f3f3f;

}

.div1{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;


}

body{
    background-color: #C9B8A7;; 

}

@media only screen and (max-width: 800px) {


 

    .div1{
        width: 100%;
        height: 100%;
     
    }
    h1{
        width: 100%;
        height: 100%;
        font-size: 15px;

    }

    img{
        width: 95%;
        height: 100%;
        padding: 2%;

    }
}