.botao{
    /*estilização geral*/
  display: inline-block;
  border-radius: 4px;
  background-color: #839973;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  width: 250px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  vertical-align: middle;

  /*deixar no meio*/
  position:absolute;
      left:50%;
      top:50%;
      margin-left:-110px;
      margin-top:-40px;

}

/*classe "botao", pq no html ta assim*/
/*aqui é pra fazer as flechinhas aparece no botao*/

.botao span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.botao span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.botao:hover span {
  padding-right: 25px;
}

.botao:hover span:after {
  opacity: 1;
  right: 0;
}

/*cor do fundo*/
body{
  background-color: #C7D1BC;
  margin: 0px;
  
}